.no-js .panel-title {
    display: none;
}
#wrapper, #main-content, .billboard {
    width: 100%;
    padding: 0;
}
.container {
    /*width: 960px;*/
    zoom: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.container:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "."}

/*.pillars {
    background: url(/media/img/home/box-shadow-960.png) center bottom no-repeat;
    padding: 0 0 40px;
    position: relative;
    margin: 0 auto 20px;
}
.wide .pillars {
    height: 380px;
}*/
.accordion {
    list-style: none;
    position: relative;
    left: -0.5%;
    top: 0;
    width: 102%;
    margin: 0;
}
.js .accordion {
    overflow: hidden;
}
.panel {
    background-color: #777;
    display: block;
    margin: 0;
    position: relative;
    border-radius: 0;
    border: 0;
    -webkit-transition: background-position .5s ease-in-out;
    -moz-transition: background-position .5s ease-in-out;
    -o-transition: background-position .5s ease-in-out;
    -ms-transition: background-position .5s ease-in-out;
    transition: background-position .5s ease-in-out;
}
.panel:focus {
    outline: 0;
}
.panel.expanded, .panel.compressed {
    -webkit-transition: background-position .5s ease-in-out;
    -moz-transition: background-position .5s ease-in-out;
    -o-transition: background-position .5s ease-in-out;
    -ms-transition: background-position .5s ease-in-out;
    transition: background-position .5s ease-in-out;
}
.wide .panel {
    margin: 0 0 0 -2px;
    padding: 0;
    float: left;
    width: 25%;
    height: 330px;
    min-height: 0;
    overflow: hidden;
    box-shadow: -6px 0 10px -4px rgba(0, 0, 0, 0.5);
}
.wide .panel:first-child {
    box-shadow: none;
}
.no-js .panel {
    min-height: 16em;
}
.panel-title {
    color: #fff;
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    margin: 0;
    padding: 40px 15px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 218px;
    height: 80px;
}
.panel-title i {
    font-style: normal;
}
.panel-title:after {
    content: ' »';
    white-space: nowrap;
}
.panel-inner {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.expanded .panel-inner {
    background-color: transparent;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
    -ms-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.compressed .panel-inner {
    background-color: rgba(0, 0, 0, 0.25);
}
.panel-content {
    font-family: 'Open Sans Light', 'Droid Arabic Naskh', 'Mplus Fulah Light', sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 20px;
    line-height: 1.3;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.panel-content h3 {
    font-weight: bold;
    font-size: 100%;
    color: inherit;
    letter-spacing: -0.03em;
    margin: 0 0 .25em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
}
.panel-content .go {
    font-size: 90%;
    font-weight: bold;
    letter-spacing: -0.025em;
}
.panel-content .go:after {
    content: ' »';
    white-space: nowrap;
}
.panel-content>a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px 20px 20px 300px;
}
.panel-content a:link, .panel-content a:visited {
    color: inherit;
}
.panel-content a:hover, .panel-content a:focus, .panel-content a:active {
    color: inherit;
    text-decoration: none;
    outline: 0;
}
.panel-content a:focus .go, .panel-content a:active .go, .panel-content .go:hover {
    text-decoration: underline;
}
.wide .panel-content {
    height: 380px;
    min-height: 0;
    width: 590px;
    padding: 40px 40px 40px 300px;
    position: absolute;
    top: 0;
    left: 0;
}
.wide .panel-content>a {
    padding: 40px 40px 40px 300px;
}
.js .panel-content {
    display: none;
}
.no-js .panel-content {
    min-height: 9.5em;
    padding: 1em 40px 1em 300px;
}






@media only screen and (min-width:760px) and (max-width:1000px) {
    #masthead, .container, .newsletter-form, .mission, .pillars {
    width: 720px;
}

/*.pillars {
    background-image: url(/media/img/home/box-shadow-760.png);
    padding-bottom: 32px;
}*/
.panel-title {
    font-size: 16px;
    width: 155px;
}
.wide .panel-content {
    font-size: 16px;
    height: 280px;
    width: 250px;
    padding: 80px 20px 20px 200px;
}
.wide .panel-content .panel-logo {
    left: 200px;
    top: 30px;
}
.wide .panel-content .go {
    font-size: 16px;
}
.wide .panel-content>a {
    padding: 80px 20px 20px 200px;
}

/*.pillars {
    padding-bottom: 13px;
    background-image: url(/media/img/home/box-shadow-320.png);
}*/
.accordion {
    width: auto;
    padding: 0;
    position: relative;
    left: 0;
    overflow: visible;
    margin: 0;
}
.panel {
    float: none;
    width: 100%;
    height: 5.5em;
    margin: 0;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 4px 10px -5px rgba(0, 0, 0, 0.75);
}
.panel:first-child {
    box-shadow: none;
}
.panel-inner {
    background: transparent;
}
.panel-title {
    position: static;
    width: auto;
    height: auto;
    padding: .75em 35px .75em 40%;
    min-height: 3em;
    text-align: left;
    font-size: 16px;
}
.panel-title:after {
    content: '\25bc';
    position: absolute;
    right: 18px;
    top: 35%}
.panel-content {
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    height: 100%}
.panel-content>a {
    padding: 20px 20px 20px 40%}
.panel-content .panel-logo {
    position: static;
    display: block;
    margin-bottom: 10px;
}
.no-js .panel {
    height: auto;
    min-height: 20em;
    padding: 0;
}
.no-js .panel .panel-content {
    padding: 0;
}
.extra-news, .extra-contribute {
    width: auto;
    float: none;
    margin: 0 10px 20px;
}
.extra .newsletter-form {
    width: auto;
    float: none;
    margin: 0 10px 20px;
}
#firefox-promo .container {
    display: block;
}
#firefox-promo header {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
}
#firefox-promo header a, #firefox-promo header h3, #firefox-promo header h4 {
    display: block;
}
#firefox-promo header h3 {
    margin: 0;
    width: 100%}
#firefox-promo header h3 img {
    width: auto;
}
#firefox-promo header h4 {
    margin: 5px 0 20px;
}
#firefox-promo header h4 strong {
    margin: 0;
    border-width: 0;
    padding: 0;
    font-size: 30px;
}
#firefox-promo .download-button {
    width: auto;
    display: block;
    text-align: center;
}
#firefox-promo .download-button .download-link {
    margin: 0 auto;
}
.html-rtl #firefox-promo header {
    padding: 0;
}
.html-rtl #firefox-promo header h4 strong {
    margin: 0;
    border-width: 0;
    padding: 0;
}


@media only screen and (min-width:480px) and (max-width:760px) {
    .pillars {
    background-image: url(/media/img/home/box-shadow-440.png);
    padding-bottom: 18px;
}

.form-field-error {
    border-color: #af3232;
    -webkit-box-shadow: 0 0 0 2px rgba(175, 50, 50, 0.4);
    -moz-box-shadow: 0 0 0 2px rgba(175, 50, 50, 0.4);
    box-shadow: 0 0 0 2px rgba(175, 50, 50, 0.4);
}
.image-replaced {
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
}
.multi-column-clear {
    -webkit-column-width: auto;
    -moz-column-width: auto;
    -o-column-width: auto;
    column-width: auto;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    -o-column-count: auto;
    column-count: auto;
    -webkit-column-gap: normal;
    -moz-column-gap: normal;
    -o-column-gap: normal;
    column-gap: normal;
}
.multi-column-avoid-break {
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    column-break-inside: avoid;
}

/*------  ------*/

#panel-lightbeam {
    background: #424f5a url(/media/img/home/panel/lightbeam/logo-lightbeam.png) -80px 20px no-repeat;
    background: url(/media/img/home/panel/lightbeam/logo-lightbeam.png) -80px 20px no-repeat, #424f5a url(/media/img/home/panel/lightbeam/bg-lightbeam.jpg) 0 0 no-repeat;
}
#panel-lightbeam .panel-title i {
    display: block;
}
#panel-lightbeam.expanded {
    background-position: -50px 20px;
    background-position: -50px 20px, 0 0;
}
#panel-lightbeam.compressed {
    background-position: -120px 20px;
    background-position: -120px 20px, 0 0;
}
#panel-lightbeam .go {
    color: #0096dd;
}
.wide #panel-lightbeam .panel-title {
    background: #424f5a;
    background: rgba(66, 79, 90, 0.8);
    background: -webkit-linear-gradient(bottom, rgba(66, 79, 90, 0.95) 50%, rgba(66, 79, 90, 0.8) 65%, rgba(66, 79, 90, 0) 100%);
    background: linear-gradient(to top, rgba(66, 79, 90, 0.95) 50%, rgba(66, 79, 90, 0.8) 65%, rgba(66, 79, 90, 0) 100%);
}
#panel-fxos {
    background: #0095dd url(/media/img/home/panel/firefoxos/firefoxos-fox.png?04-11-13) -100px -100px no-repeat;
}
#panel-fxos.expanded {
    background-position: -60px -100px;
}
#panel-fxos.compressed {
    background-position:  -62px -100px;
}
.wide #panel-fxos .panel-title {
    background: #0095dd;
    background: rgba(0, 84, 160, 0.8);
    background: -webkit-linear-gradient(bottom, rgba(0, 84, 160, 0.8) 65%, rgba(0, 84, 160, 0) 100%);
    background: linear-gradient(to top, rgba(0, 84, 160, 0.8) 65%, rgba(0, 84, 160, 0) 100%);
}
#panel-mdn {
    background: #0062a9 url(/media/img/home/panel/mdn/logo-mdn.png) -25px 40px no-repeat;
    background: url(/media/img/home/panel/mdn/logo-mdn.svg) -25px 40px no-repeat, #0062a9 url(/media/img/home/panel/mdn/bg-grid.png?01-09-14);
}
#panel-mdn .panel-content {
    color: #fff;
}
#panel-mdn .panel-content .go {
    color: #fff;
}
#panel-mdn.expanded {
    background-position: 25px 40px;
    background-position: 25px 40px, 0 0;
}
#panel-mdn.compressed {
    background-position: -110px 40px;
    background-position: -110px 40px, 0 0;
}
.wide #panel-mdn .panel-title {
    color: #444;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    background: -webkit-linear-gradient(bottom, #fff 50%, rgba(255, 255, 255, 0.8) 65%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to top, #fff 50%, rgba(255, 255, 255, 0.8) 65%, rgba(255, 255, 255, 0) 100%);
}
#panel-mozfest {
    background: #ced3d3 url(/media/img/home/panel/mozfest/logo-mozfest-big.png) -110px -15px no-repeat;
    background: url(/media/img/home/panel/mozfest/logo-mozfest-big.png) -110px -15px no-repeat, #04364b url(/media/img/home/panel/mozfest/bg-mosaic.jpg);
}
#panel-mozfest .panel-title {
    color: #04364b;
    text-shadow: 0 1px 0 #fff;
}
#panel-mozfest .panel-title i {
    display: block;
    color: #cb1b1d;
}
#panel-mozfest .panel-content {
    color: #fff;
    background: transparent url(/media/img/home/panel/mozfest/bg-content.png?04-11-13) 230px 0 no-repeat;
}
#panel-mozfest .panel-content h3 {
    color: #ff3946;
}
#panel-mozfest .panel-content .go {
    color: #21aed9;
}
#panel-mozfest.expanded {
    background-position: -80px -15px;
    background-position: -80px -15px, 0 0;
}
#panel-mozfest.compressed {
    background-position: -170px -15px;
    background-position: -170px -15px, 0 0;
}
.wide #panel-mozfest .panel-title {
    background: #ced3d3;
    background: rgba(206, 211, 211, 0.8);
    background: -webkit-linear-gradient(bottom, rgba(206, 211, 211, 0.95) 50%, rgba(206, 211, 211, 0.85) 65%, rgba(206, 211, 211, 0) 100%);
    background: linear-gradient(to top, rgba(206, 211, 211, 0.95) 50%, rgba(206, 211, 211, 0.85) 65%, rgba(206, 211, 211, 0) 100%);
}
#panel-webmaker {
    background: #e1ebed url(/media/img/home/panel/webmaker/logo-webmaker.png) -95px 15px no-repeat;
}
#panel-webmaker .panel-title {
    color: #c93833;
}
#panel-webmaker .panel-content {
    color: #12ab86;
}
#panel-webmaker .panel-content h3 {
    color: #c93833;
}
#panel-webmaker .panel-content .go {
    color: #0090bc;
}
#panel-webmaker.expanded {
    background-position: -40px 15px;
}
#panel-webmaker.compressed {
    background-position: -150px 15px;
}
.wide #panel-webmaker .panel-title {
    background: #e1ebed;
    background: rgba(225, 235, 237, 0.8);
    background: -webkit-linear-gradient(bottom, rgba(225, 235, 237, 0.8) 65%, rgba(225, 235, 237, 0) 100%);
    background: linear-gradient(to top, rgba(225, 235, 237, 0.8) 65%, rgba(225, 235, 237, 0) 100%);
}
@media(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx), (min-resolution:144dpi) {
    #panel-lightbeam {
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-hires.png);
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-hires.png), url(/media/img/home/panel/lightbeam/bg-lightbeam.jpg);
    background-size: 340px 340px;
    background-size: 340px 340px, auto auto;
}
#panel-fxos {
    background-image: url(/media/img/home/panel/firefoxos/firefoxos-fox-hires.png);
    background-size: 335px 468px;
}
#panel-mozfest {
    background-image: url(/media/img/home/panel/mozfest/logo-mozfest-big-hires.png);
    background-image: url(/media/img/home/panel/mozfest/logo-mozfest-big-hires.png), url(/media/img/home/panel/mozfest/bg-mosaic.jpg);
    background-size: 360px 360px;
    background-size: 360px 360px, auto auto;
}
}

@media only screen and (min-width:760px) and (max-width:1000px) {
    #panel-mission {
    background-position: -80px -50px;
    background-position: -80px -50px, 0 0;
}
#panel-mission.expanded, #panel-mission.compressed {
    background-position: -120px -50px;
    background-position: -120px -50px, 0 0;
}
#panel-lightbeam {
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-md.png);
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-md.png), url(/media/img/home/panel/lightbeam/bg-lightbeam.jpg);
    background-position: -50px 20px;
    background-position: -50px 20px, 0 0;
}
#panel-lightbeam.expanded {
    background-position: -90px 20px;
    background-position: -90px 20px, 0 0;
}
#panel-lightbeam.compressed {
    background-position: -120px 20px;
    background-position: -120px 20px, 0 0;
}
#panel-fxos {
    background-image: url(/media/img/home/panel/firefoxos/firefoxos-fox-md.png?04-11-13);
    background-position: -115px -70px;
}
#panel-fxos.expanded {
    background-position: -95px -70px;
}
#panel-fxos.compressed {
    background-position: -135px -70px;
}
#panel-mdn {
    background-position: -90px 40px;
    background-position: -90px 40px, 0 0;
}
#panel-mdn.expanded {
    background-position: -60px 40px;
    background-position: -60px 40px, 0 0;
}
#panel-mdn.compressed {
    background-position: -130px 40px;
    background-position: -130px 40px, 0 0;
}
#panel-mozfest .panel-content {
    background-position: 140px 0;
}
#panel-webmaker {
    background-image: url(/media/img/home/panel/webmaker/logo-webmaker-md.png);
    background-position: -80px 25px;
}
#panel-webmaker.expanded {
    background-position: -100px 25px;
}
#panel-webmaker.compressed {
    background-position: -130px 25px;
}
}

@media only screen and (min-width:760px) and (max-width:1000px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-width:760px) and (max-width:1000px) and (min-resolution:1.5dppx), only screen and (min-width:760px) and (max-width:1000px) and (min-resolution:144dpi) {
    #panel-fxos {
    background-image: url(/media/img/home/panel/firefoxos/firefoxos-fox-md-hires.png);
    background-size: 290px 390px;
}
#panel-lightbeam {
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-md-hires.png);
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-md-hires.png), url(/media/img/home/panel/lightbeam/bg-lightbeam.jpg);
    background-size: 275px 275px;
    background-size: 275px 275px, auto auto;
}
}

@media only screen and (max-width:760px) {
    #panel-mission {
    background-image: url(/media/img/home/panel/mission/bg-mission-mosaic-sm.png);
    background-image: url(/media/img/home/panel/mission/bg-mission-mosaic-sm.png), url(/media/img/home/panel/mission/bg-mission-cubes.png);
    background-position: -122px -45px;
    background-position: -122px -45px, 0 0;
}
#panel-mission.expanded {
    background-position: -122px -20px;
    background-position: -122px -20px, 0 0;
}
#panel-lightbeam {
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-sm.png);
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-sm.png), url(/media/img/home/panel/lightbeam/bg-lightbeam.jpg);
    background-position: -50px -50px;
    background-position: -50px -50px, 0 0;
}
#panel-lightbeam.expanded {
    background-position: -50px 20px;
    background-position: -50px 20px, 0 0;
}
#panel-lightbeam.compressed {
    background-position: -50px -65px;
    background-position: -50px -65px, 0 0;
}
#panel-fxos {
    background-image: url(/media/img/home/panel/firefoxos/firefoxos-fox-sm.png?04-11-13);
    background-position: -85px -95px;
}
#panel-fxos.expanded {
    background-position: -85px -30px;
}
#panel-fxos.compressed {
    background-position: -85px -110px;
}
#panel-mdn {
    background-image: url(/media/img/home/panel/mdn/logo-mdn-sm.png);
    background-image: url(/media/img/home/panel/mdn/logo-mdn.svg), url(/media/img/home/panel/mdn/bg-grid.png?01-09-14);
    background-position: -20px -10px;
    background-position: -20px -10px, -350px 0;
    background-size: 120px 105px, auto auto;
}
#panel-mdn.expanded {
    background-position: -20px 25px;
    background-position: -20px 25px, -350px 0;
}
#panel-mdn.compressed {
    background-position: -20px -15px;
    background-position: -20px -15px, -350px 0;
}
#panel-mdn .panel-title i {
    color: inherit;
}
#panel-mozfest {
    background-image: url(/media/img/home/panel/mozfest/logo-mozfest-sm.png);
    background-image: url(/media/img/home/panel/mozfest/logo-mozfest-sm.png), url(/media/img/home/panel/mozfest/bg-mosaic.jpg);
    background-position: -60px -35px;
    background-position: -60px -35px, 0 0;
}
#panel-mozfest .panel-content {
    background-position: 70px 0;
}
#panel-mozfest .panel-title i {
    color: inherit;
}
#panel-mozfest.expanded {
    background-position: -60px 20px;
    background-position: -60px 20px, 0 0;
}
#panel-mozfest.compressed {
    background-position: -60px -40px;
    background-position: -60px -40px, 0 0;
}
#panel-webmaker {
    background-image: url(/media/img/home/panel/webmaker/logo-webmaker-sm.png);
    background-position: -50px -40px;
}
#panel-webmaker.expanded {
    background-position: -50px 10px;
}
#panel-webmaker.compressed {
    background-position: -50px -60px;
}
}@media only screen and (min-width:480px) and (max-width:760px) {
    #panel-mission {
    background-position: -80px -45px;
    background-position: -80px -45px, 0 0;
}
#panel-mission.expanded {
    background-position: -80px -20px;
    background-position: -80px -20px, 0 0;
}
#panel-lightbeam {
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-sm.png);
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-sm.png), url(/media/img/home/panel/lightbeam/bg-lightbeam.jpg);
    background-position: -10px -50px;
    background-position: -10px -50px, 0 0;
}
#panel-lightbeam.expanded {
    background-position: -10px 20px;
    background-position: -10px 20px, 0 0;
}
#panel-lightbeam.compressed {
    background-position: -10px -65px;
    background-position: -10px -65px, 0 0;
}
#panel-fxos {
    background-position: -40px -95px;
}
#panel-fxos.expanded {
    background-position: -40px -30px;
}
#panel-fxos.compressed {
    background-position: -40px -110px;
}
#panel-mdn {
    background-position: 10px -20px;
    background-position: 10px -20px, -250px 0;
    background-size: 130px 115px, auto auto;
}
#panel-mdn.expanded {
    background-position: 10px 25px;
    background-position: 10px 25px, -250px 0;
}
#panel-mdn.compressed {
    background-position: 10px -25px;
    background-position: 10px -25px, -250px 0;
}
#panel-mozfest {
    background-position: -15px -35px;
    background-position: -15px -35px, 0 0;
}
#panel-mozfest .panel-content {
    background-position: 110px 0;
}
#panel-mozfest .panel-title i {
    color: inherit;
}
#panel-mozfest.expanded {
    background-position: -15px 20px;
    background-position: -15px 20px, 0 0;
}
#panel-mozfest.compressed {
    background-position: -15px -40px;
    background-position: -15px -40px, 0 0;
}
#panel-webmaker {
    background-position: -15px -40px;
}
#panel-webmaker.expanded {
    background-position: -15px 10px;
}
#panel-webmaker.compressed {
    background-position: -15px -60px;
}
}@media only screen and (max-width:760px) and (-webkit-min-device-pixel-ratio:1.5), only screen and (max-width:760px) and (min-resolution:1.5dppx), only screen and (max-width:760px) and (min-resolution:144dpi) {
    #panel-lightbeam {
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-sm-hires.png);
    background-image: url(/media/img/home/panel/lightbeam/logo-lightbeam-sm-hires.png), url(/media/img/home/panel/lightbeam/bg-lightbeam.jpg);
    background-size: 158px 158px;
    background-size: 158px 158px, auto auto;
}
#panel-fxos {
    background-image: url(/media/img/home/panel/firefoxos/firefoxos-fox-sm-hires.png);
    background-size: 190px 246px;
}
#panel-mozfest {
    background-image: url(/media/img/home/panel/mozfest/logo-mozfest-sm-hires.png);
    background-image: url(/media/img/home/panel/mozfest/logo-mozfest-sm-hires.png), url(/media/img/home/panel/mozfest/bg-mosaic.jpg);
    background-size: 170px 170px;
    background-size: 170px 170px, auto auto;
}
}