{% extends 'page.html' %}

{%- js 'js/list.min.js' %}
{%- js 'js/intro.js' , '20-invenio'  %}

{%- css 'css/find.css', 'dphep' %}
{%- css 'css/introjs.css' , '40-invenio' %}


{% block page_body %}
{% block body %}

<div style="position:fixed;top=0;left=0;padding=9px;">
	<a href="#" onclick="javascript:startTour();">Click Here for a TOUR!!</a>
</div>

<section class="content">
	<div class="container">
		<div class="top_info col-md-12 ">
			<h2>OUR DATA</h2>
			<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, rerum, nemo, reiciendis, a consequuntur provident ut modi minima ullam omnis ducimus maxime officiis doloribus quod ex accusantium perspiciatis illo consectetur.</span>
			<a href="{{ url_for('submit')}} " class="btn">Contribute by submitting some data</a>
		</div>
		
		<div id="collectiondata" class="collection col-md-12 no-padding">
			<div id="searchbox" class="col-md-12 no-padding">
				<div class="pull-left">
					<label for="searchfor">LOOKING FOR:</label><input name="searchfor" class="search" placeholder="filter your search" />
				</div>
				<div class="pull-right">
					<button id="sortNames" class="sort btn" data-sort="datatitle" styl><span>Sort by </span> Title</button>
					<button id="sortPos" class="sort btn" data-sort="datatype"><span>Sort by </span> Category</button>
					<div class="btn-group">
						<button id="sortInst" class="sort btn" data-sort="datalocation"><span>Sort by </span> Institute</button>
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a tabindex="-1" href="#">CERN</a></li>
							<li><a tabindex="-1" href="#">SLAC</a></li>
							<li><a tabindex="-1" href="#">DESY</a></li> 
						</ul>
					</div>
				</div>
			</div>
			<div class="list collection_data col-md-12 no-padding">
				<div id="collectionbox" class="head">
					<ul>
						<li class="col-md-1 hidden-xs">Type  <span class="glyphicon glyphicon-sort"></span></li>
						<li class="col-md-2"><p>Experiment Title  <span class="glyphicon glyphicon-sort"></span></p></li>
						<li class="col-md-2">Author <span class="glyphicon glyphicon-sort"></span></li>
						<li class="col-md-3 hidden-xs">Domain  <span class="glyphicon glyphicon-sort"></span></li>
						<li class="col-md-3 hidden-xs">Topic  <span class="glyphicon glyphicon-sort"></span></li>
						<li class="col-md-1 hidden-xs">Location <span class="glyphicon glyphicon-sort"></span></li>
						<li ></li>
					</ul>
				</div>
					<div id="recordbox" class="cdata_panel col-md-12">
						<ul>
							<li class="col-md-1 datatype col-sm-1"><p><a href="">POL</a></p></li>
							<li class="col-md-2 datatitle col-sm-2"><p><a href="{{ url_for('data/policy/1') }}">Policy Title</a></p></li>
							<li class="col-md-2 dataname col-sm-2"><p><a href="#">FName LName</a>, <a href="">Fname2 LName2</a></p></li>
							<li class="col-md-3 col-sm-3">
								<p>
									<span class="tag-box tag-bdomain">domain_1</span>
					                <span class="tag-box tag-bdomain">domain_2</span>
					                <span class="tag-box tag-bdomain">domain_3</span>
					                <span class="tag-box tag-bdomain">domain_4</span>
					                <span class="tag-box tag-bdomain">domain_5</span>
								            	</p>
							</li>
							<li class="col-md-3 col-sm-3">
								<p>
									<span class="tag-box tag-btopic">topic_1</span>
						                			<span class="tag-box tag-btopic">topic_2</span>
						                			<span class="tag-box tag-btopic">topic_3</span>
						                		</p>
							</li>
							<li class="col-md-1 col-sm-1"><p><a href="#">CERN</a></p></li>
							<li ><a href="/data/policy/1"><button class="btn glyphicon glyphicon-new-window"></button></a></li>
						</ul>
					</div>
					<div class="cdata_panel col-md-12">
						<ul>
							<li class="col-md-1 datatype"><p><a href="">POL</a></p></li>
							<li class="col-md-2 datatitle"><p><a href="">Policy Title</a></p></li>
							<li class="col-md-2 dataname"><p><a href="#">FName3 LName3</a></p></li>
							<li class="col-md-3">
								<p>
									<span class="tag-box tag-bdomain">domain_1</span>
					                <span class="tag-box tag-bdomain">domain_2</span>
					                <span class="tag-box tag-bdomain">domain_3</span>
					                <span class="tag-box tag-bdomain">domain_4</span>
								            	</p>
							</li>
							<li class="col-md-3">
								<p>
									<span class="tag-box tag-btopic">topic_1</span>
						                		</p>
							</li>
							<li class="col-md-1 datalocation"><p><a href="#">SLAC</a></p></li>
							<li ><button class="btn glyphicon glyphicon-new-window"></button></li>
						</ul>
					</div>
					<div class="cdata_panel col-md-12">
						<ul>
							<li class="col-md-1 datatype"><p><a href="">EXP</a></p></li>
							<li class="col-md-2 datatitle"><p><a href="">Experiment Title</a></p></li>
							<li class="col-md-2 dataname"><p><a href="#">FName LName</a>, <a href="">Fname2 LName2</a></p></li>
							<li class="col-md-3">
								<p>
									<span class="tag-box tag-bdomain">domain_1</span>
					                <span class="tag-box tag-bdomain">domain_2</span>
								            	</p>
							</li>
							<li class="col-md-3">
								<p>
									<span class="tag-box tag-btopic">topic_1</span>
						                			<span class="tag-box tag-btopic">topic_2</span>
						                			<span class="tag-box tag-btopic">topic_3</span>
						                			<span class="tag-box tag-btopic">topic_4</span>
						                			<span class="tag-box tag-btopic">topic_5</span>
						                		</p>
							</li>
							<li class="col-md-1 datalocation"><p><a href="#">CERN</a></p></li>
							<li ><button class="btn glyphicon glyphicon-new-window"></button></li>
						</ul>
					</div>
					<div class="cdata_panel col-md-12">
						<ul>
							<li class="col-md-1 datatype"><p><a href="">POL</a></p></li>
							<li class="col-md-2 datatitle"><p><a href="">Policy Title</a></p></li>
							<li class="col-md-2 dataname"><p><a href="#">FName LName</a></p></li>
							<li class="col-md-3">
								<p>
									<span class="tag-box tag-bdomain">domain_1</span>
					                <span class="tag-box tag-bdomain">domain_2</span>
								            	</p>
							</li>
							<li class="col-md-3">
								<p>
									<span class="tag-box tag-btopic">topic_1</span>
						                			<span class="tag-box tag-btopic">topic_2</span>
						                			<span class="tag-box tag-btopic">topic_3</span>
						                			<span class="tag-box tag-btopic">topic_4</span>
						                		</p>
							</li>
							<li class="col-md-1 datalocation"><p><a href="#">SLAC</a></p></li>
							<li ><button class="btn glyphicon glyphicon-new-window"></button></li>
						</ul>
					</div>
			</div>
		</div>
	</div>	

</section>


{% endblock body %}
{% endblock page_body %}

{% block javascript %}
<script type="text/javascript">


	function startTour(){
	var intro = introJs();
	intro.setOptions({
		steps: [
		   	{
				element: "#searchbox", 
				intro: "<b>Filtering & Sorting</b><br/>JS implemented Filtering and Sorting \"on the fly\" feature"
		   	},
			{
				element: "#collectionbox", 
				intro: "<b>Collection of Data</b><br/>List with the records that will be displayed on the portal"
			},
            {
                element: "#recordbox",
                intro: "<b>Policy Record</b><br/>Record info box. By pressing on the \"Title\" or the button on the right, you get transfered to the record page. <a href='/data/policy/1'><b>Go to Record Page</b></a>"
            }
		]
		});
	intro.start();
}


    $(document).ready(function(){
        var options = {
            valueNames: ['datatype', 'datatitle', 'dataname', 'datalocation'],
            item: '<div><ul><li class="datatype"></li><li class="datatitle"></li><li class="dataname"></li><li class="col-md-3"></li><li></li><li></li><li></li></ul></div>'
        };

        var dataList = new List('collectiondata', options);

        $("#sortInst").click(function(){

        })
    });
</script> 
{% endblock javascript %}
