{% extends "page.html" %}

{%- css url_for('static', filename='css/home3.css') , 'dphep' %}
{%- css url_for('static', filename='css/accordion.css'),  'dphep' %}
{%- css url_for('static', filename='css/introjs.css') , 'dphep' %}
{%- css url_for('static', filename='css/icomoon.css') %}

{%- js url_for('static', filename='js/home.js'), 'dphep_js' %}
{%- js url_for('static', filename='js/accordion.js') , 'dphep_js' %}
{%- js url_for('static', filename='js/intro.js') , 'dphep_js'  %}

<!-- HERE starts the HEADER -->

<!-- HERE ends the HEADER -->


<!-- HERE starts the BODY -->
{% block page_body %}
{% block body %}

<div style="position:fixed;top=0;left=0;padding=9px;">
	<a href="#" onclick="javascript:startTour();">Click Here for a TOUR!!</a>
</div>

<section class="entry-points" style="background-color: #e8e8e8; margin-top:50px;">
    <div id="step3" class="container no-padding">

        <div class="accordion col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
            <div id="educational" class="panel panel-notmob">
                <h2 class="panel-title" style="display:block;"><i>LEARN MORE</i></h2>
                <div class="panel-inner">
                    <div class="panel-content">
                        <a href="{{ url_for('about') }}">
                            <h3>RESEARCH AND LEARN</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, recusandae, vitae, veritatis, placeat reiciendis suscipit ipsam ex assumenda minus nulla voluptas facere labore asperiores.</p>
                            <p class="go">Read about us</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="researchers" class="panel panel-notmob">
                <h2 class="panel-title" style="display:block;"><i>DO RESEARCH</i></h2>
                <div class="panel-inner">
                    <div class="panel-content">
                        <a href="{{url_for('find') }}">
                            <h3>FIND WHAT YOU NEED</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, recusandae, vitae, veritatis, placeat reiciendis suscipit ipsam ex assumenda minus nulla voluptas facere labore asperiores.</p>
                            <p class="go">Look for DATA</p>
                        </a>
                    </div>
                </div>
            </div>
            <div  id="submissions" class="panel panel-notmob">
                <h2 class="panel-title" style="display:block;"><i>SUBMIT DATA</i></h2>
                <div class="panel-inner">
                    <div class="panel-content">
                        <a href="{{ url_for('submit') }}">
                            <h3>HELP US PRESERVE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, recusandae, vitae, veritatis, placeat reiciendis suscipit ipsam ex assumenda minus nulla voluptas facere labore asperiores.</p>
                            <p class="go">Submit your DATA</p>
                        </a>
                    </div>
                </div>
            </div>

            <div id="fundings" class="panel panel-notmob">
                <h2 class="panel-title" style="display:block;"><i>TAKE PART</i></h2>
                <div class="panel-inner">
                    <div class="panel-content">
                        <a href="{{ url_for('fund') }}">
                            <h3>CONTRIBUTE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, recusandae, vitae, veritatis, placeat reiciendis suscipit ipsam ex assumenda minus nulla voluptas facere labore asperiores.</p>
                            <p class="go">Learn more</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-group">
    <div id="step4" class="container">
    <div class="news" style="background-color:green;">
            <div  class="col-xs-12 col-sm-5 col-md-4 no-padding">
                <ul class="list-group latest">
                    <li class="list-group-item title">
                        <h5 style="float:left;font-size:20px;font-weight:400;"><!-- <span class="icon-newspaper"></span> --> Latest News</h5>
                        <h6 style="font-size:11px;padding-top:6px;float:right;font-weight:300;"><span ><a href="{{url_for('news')}}">see all news</a></span></h6>
                    </li>
                        <li class="list-group-item"> 
                            <a href="#">DIS 2013 and HEP-EPS 2013 Proceedings</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">ICHEP 2012 Proceedings</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">Second DPHEP Publication, May 2012</a>
                        </li>

                        <li class="list-group-item">
                            <a href="#">Moriond QCD 2009 Proccedings</a>
                        </li>
                </ul>
            </div>
            
            <div class="col-md-4 ">
                <ul class="list-group keynotes">
                    <li class="list-group-item title">
                        <h5 style="font-size:20px;float:left;font-weight:400;"><!-- <span class="icon-uniE7C4"></span> --> DPHEP Keynotes</h5>
                        <h6 style="font-size:11px;float:right;padding-top:6px;font-weight:300;"><span ><a href="#">see all</a></span></h6>
                    </li>
                    <li class="list-group-item">
                        <a href="#">ERF Big Data Open Data workshop in Brussels</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">WLCG Overview Board - 25th Meeting</a>
                    </li>
                    <li class="list-group-item">
                        <a href="">DPHEP H2020</a>
                    </li>
                </ul>
            </div>

            <div  class="col-xs-12 col-sm-7 col-md-4 no-padding">
              <!--   <div class="transition-block">
                    <span class="glyphicon glyphicon-minus" style="font-size:20px;"></span>
                    <span class="glyphicon glyphicon-minus" style="font-size:20px;"></span>
                    <span class="glyphicon glyphicon-minus" style="font-size:20px;"></span>
                </div> -->
                <ul class="list-group featured">
                    <li class="list-group-item title">
                        <h5 style="font-size:20px;float:left;font-weight:400;"><!-- <span class="icon-calendar"></span>  -->Featured Events</h5>
                        <h6 style="font-size:11px;float:right;padding-top:6px;font-weight:300;"><span ><a href="#">see all events</a></span></h6>
                    </li>
                        <li class="list-group-item event">
                            <span class="status">Upcoming</span>
                            <a href="#">
                                <ul>
                                    <li class="event-name">8th DPHEP Workshop, "Costs of Curation"</li>
                                    <li class="event-place"><span><span>@</span> <a href="#">CERN</a></span></li>
                                    <li class="event-date">January 13-14, 2014</li>
                                </ul>
                            </a>
                        </li>
                    <li class="list-group-item">
                        <span class="status">Upcoming</span>
                        <a href="">
                            <ul>
                                <li class="event-name">DPHEP Session at CHEP</li>
                                <li class="event-place" ><span><span>@</span> <a href="#">CHEP 2013, Amsterdam</a><span></span></li>
                                <li class="event-date">October 16, 2013</li>
                            </ul>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="">
                            <ul>
                                <li class="event-name">Joint DASPOS / 7th DPHEP Workshop</li>
                                <li class="event-place"><span><span>@ </span><a href="#">CERN</a></span></li>
                                <li class="event-date">March 21-22, 2014</li>
                            </ul>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="">
                            <ul>
                                <li class="event-name">6th DPHEP Workshop</li>
                                <li class="event-place"><span><span>@</span> <a href="#">CPPM, Marseille</a></span></li>
                                <li class="event-date">November 19-21, 2012</li>
                            </ul>
                        </a>
                    </li>
            </div>
        </div>
    </div>
</section>

<section id="step5" class="searching"  style="background-color: #e8e8e8;">
    <div class="container">
        <div class="quick-search col-md-10">
            <div class="qs-box col-xs-12 col-sm-4 col-sm-offset-1 col-md-offset-0 col-md-3">
                <div class="qs-header">Featured Topics</div>
                <div class="qs-content">
                    <ul>
                        <li><span><a href="#">Nuclear Physics</a></span></li>
                        <li><span><a href="#">Standard Model</a></span></li>
                        <li><span><a href="#">Quark</a></span></li>
                        <li><span><a href="#">Particle accelerator</a></span></li>
                        <li><span><a href="#">Proton</a></span></li>
                        <li><span><a href="#">Photon</a></span></li>
                        <li><span><a href="#">Superconductors</a></span></li>
                        <li><span><a href="#">Astro</a></span></li>
                        <li><span><a href="#">Dark Energy</a></span></li>
                        <li><span><a href="#">Cosmic Frontier</a></span></li>
                        <li><span><a href="#">Neutrino</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="qs-box col-xs-12 col-sm-4 col-sm-offset-2 col-md-3  col-md-offset-0">
                <div class="qs-header">Latest Experiments</div>
                <div class="qs-content">
                    <ul>
                        <li><span><a href="#">ATLAS</a></span></li>
                        <li><span><a href="#">CMS</a></span></li>
                        <li><span><a href="#">BOOMERANG</a></span></li>
                        <li><span><a href="#">FNAL-E-0929</a></span></li>
                        <li><span><a href="#">ALICE</a></span></li>
                        <li><span><a href="#">DAFNE experiments</a></span></li>
                        <li><span><a href="#">SLAC-MPS</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="qs-box col-xs-12 col-sm-4 col-sm-offset-1 col-md-3  col-md-offset-0">
                <div class="qs-header">Latest Policies</div>           
                <div class="qs-content">
                    <ul>
                        <li><span><a href="#">Nuclear Physics</a></span></li>
                        <li><span><a href="#">Standard Model</a></span></li>
                        <li><span><a href="#">Quark</a></span></li>
                        <li><span><a href="#">Particle accelerator</a></span></li>
                        <li><span><a href="#">Proton</a></span></li>
                        <li><span><a href="#">Photon</a></span></li>
                        <li><span><a href="#">Superconductors</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="qs-box col-xs-12 col-sm-4 col-sm-offset-2 col-md-3  col-md-offset-0">
                <div class="qs-header">Institutes</div>
                <div class="qs-content">
                    <ul>
                        <li><span><a href="#">CERN</a></span></li>
                        <li><span><a href="#">SLAC</a></span></li>
                        <li><span><a href="#">FermiLab</a></span></li>
                        <li><span><a href="#">DESY</a></span></li>
                        <li><span><a href="#">CERN</a></span></li>
                        <li><span><a href="#">SLAC</a></span></li>
                        <li><span><a href="#">FermiLab</a></span></li>
                        <li><span><a href="#">DESY</a></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mission">
    <div class="container">
        <h4><b>High Energy Physics</b> experiments initiate with this Study Group a common reflection on data persistency and long term analysis in order to get a common vision on these issues and create a multi-experiment dynamics for further reference.
        </h4>
        <h5>The objectives of the Study Group are:<h5>
        <ul>
            <li>- Review and document the physics objectives of the data persistency in HEP.</li>
            <li>-Exchange information concerning the analysis model: abstraction, software, documentation etc. and identify coherence points.</li>
            <li>- Address the harware and software persistency status.</li>
            <li>- Review possible fundings programs and other related international initiatives.</li>
            <li>- Converge to a common set of specifications in a document that will constitute the basis for future collaborations.</li>
        </ul>
    </div>
</section>
{% endblock body %}
{% endblock page_body %}
<!-- HERE ends the BODY -->

{% block javascript %}
	{{ super() }}

<script type="text/javascript">

function startTour(){
	var intro = introJs();
	intro.setOptions({
		steps: [
		   	{
				element: "#step1", 
				intro: "<b>Content Menu</b><br/> All links are ACTIVE, except from the 'About' page."
		   	},
			{
				element: "#step2",
				intro: "<b>Sign In/Up and Search bar</b><br/>You can login with credentials<br/>Username: dphep<br/>Password: dphep1234<br/><br/>**search not implemented**"
			},
            {
                element: "#step3",
                intro: "<b>Entry Points</b><br/>Basic entry points for the portal's main features<br/>***<i>Research</i> and <i>Submit</i> pages are ACTIVE***"
            },
            {
                element: "#researchers",
                intro: "<b>Do Research</b><br/>Directs you to the <i>Collections</i> page, where a list of records, policies, etc are presented and searchable <a style=\"color=#bb6;\" href='/find'>Take me there!</a>"
            },
            {
                element: "#submissions",
                intro: "<b>Submit your Data</b><br/>Directs you to the <i>Submission</i> page <a href='/submit'>Take me there!</a>"
            },
            {
                element: "#step4",
                intro: "<b>News and Events</b><br/>Displays <i>Latest News</i> and <i>Featured Events</i><br/>****Nothing more here to see or goto for now"
            },
            {
                element: "#step5",
                intro: "<b>Quick Search Area</b><br/>Basically tag area with fast ways to send you to features and noteworthy stuff on the portal<br/>****Nothing more here to see or goto for now"
            },
			

		]
		});
	intro.start();
}



(function($){

    if( window.innerWidth < 768){
        width = $(".panel").css("width");
        $(".panel").css("height", width);
    }
    $(window).resize(function(){
        if (window.innerWidth < 768 ) {
            width = $(".panel").css("width");
            $(".panel").css("height", width);
        }    
    });
})(jQuery);

</script>

{% endblock javascript%}
