{% extends "page.html" %}

{%- css 'css/home.css' , '10-invenio' %}
{%- css 'css/moz.css',  '10-invenio' %}
{%- js 'js/home.js' %}
{%- js 'js/moz.js' %}
<!-- HERE starts the HEADER -->

<!-- HERE ends the HEADER -->


<!-- HERE starts the BODY -->
{% block page_body %}
{% block body %}

<section class="entry-points" style="background-color: #e8e8e8;">
    <div class="container no-padding" style="width:960px;">

        <div class="accordion col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
            <div id="researchers" class="panel">
                <h2 class="panel-title" style="display:block;"><i>DO RESEARCH</i></h2>
                <div class="panel-inner">
                    <div class="panel-content">
                        <a href="{{url_for('find') }}">
                            <h3>FIND WHAT YOU NEED</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, recusandae, vitae, veritatis, placeat reiciendis suscipit ipsam ex assumenda minus nulla voluptas facere labore asperiores.</p>
                            <p class="go">Look for DATA</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="submissions" class="panel">
                <h2 class="panel-title" style="display:block;"><i>SUBMIT DATA</i></h2>
                <div class="panel-inner">
                    <div class="panel-content">
                        <a href="{{ url_for('submit') }}">
                            <h3>HELP US PRESERVE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, recusandae, vitae, veritatis, placeat reiciendis suscipit ipsam ex assumenda minus nulla voluptas facere labore asperiores.</p>
                            <p class="go">Submit your DATA</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="educational" class="panel">
                <h2 class="panel-title" style="display:block;"><i>LEARN MORE</i></h2>
                <div class="panel-inner">
                    <div class="panel-content">
                        <a href="{{ url_for('learn') }}">
                            <h3></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, recusandae, vitae, veritatis, placeat reiciendis suscipit ipsam ex assumenda minus nulla voluptas facere labore asperiores.</p>
                            <p class="go">Learn with us</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="fundings" class="panel">
                <h2 class="panel-title" style="display:block;"><i>HELP AND CONTRIBUTE</i></h2>
                <div class="panel-inner">
                    <div class="panel-content">
                        <a href="{{ url_for('fund') }}">
                            <h3>EDUCATE YOURSELF</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, recusandae, vitae, veritatis, placeat reiciendis suscipit ipsam ex assumenda minus nulla voluptas facere labore asperiores.</p>
                            <p class="go">Look for DATA</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-group">
    <div class="container">
    <div class="news" style="background-color:green;">
            <div class="col-xs-6 col-md-4 no-padding">
                <ul class="list-group latest">
                    <li class="list-group-item title">
                        <h5 style="float:left;font-size:20px;font-weight:bold;"><span class="glyphicon glyphicon-th-list"></span> Latest News</h5>
                        <h6 style="font-size:11px;padding-top:6px;float:right;font-weight:bold;"><span ><a href="#">see all news</a></span></h6>
                    </li>
                    <li class="list-group-item"> 
                        <ul>
                            <li>DIS 2013 and HEP-EPS 2013 Proceedings</li><li><a href="#">read more</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul>
                            <li>ICHEP 2012 Proceedings</li><li><a href="#">read more</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul>
                            <li>Second DPHEP Publication, May 2012</li><li><a href="#">read more</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul>
                            <li>Moriond QCD 2009 Proccedings</li><li><a href="#">read more</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-8 no-padding">
                <ul class="list-group">
                    <li class="list-group-item title">
                        <h5 style="font-size:20px;float:left;font-weight:400;"><span class="glyphicon glyphicon-calendar"></span> Featured Events</h5>
                        <h6 style="font-size:11px;float:right;padding-top:6px;font-weight:bold;"><span ><a href="#">see all events</a></span></h6>
                    </li>
                    <li class="list-group-item event">
                        <ul>
                            <li class="event-name">8th DPHEP Workshop, "Costs of Curation"</li>
                            <li class="event-place">@ <a href="#">CERN</a></li>
                            <li class="event-date">January 13-14, 2014</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul>
                            <li class="event-name">DPHEP Session at CHEP</li>
                            <li class="event-place" >@ <a href="#">CHEP 2013, Amsterdam</a></li>
                            <li class="event-date">October 16, 2013</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul>
                            <li class="event-name">Joint DASPOS / 7th DPHEP Workshop</li>
                            <li class="event-place">@ <a href="#">CERN</a></li>
                            <li class="event-date">March 21-22, 2014</li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <ul>
                            <li class="event-name">6th DPHEP Workshop</li>
                            <li class="event-place">@ <a href="#">CPPM, Marseille</a></li>
                            <li class="event-date">November 19-21, 2012</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="searching"  style="background-color: #e8e8e8;">
    <div class="container">
        <div class="quick-search col-md-offset-1 col-md-10">
            <div class="qs-box col-md-3">
                <div class="qs-header">Featured Topics</div>
                <div class="qs-content">
                    <ul>
                        <li><span><a href="#">Nuclear Physics</a></span></li>
                        <li><span><a href="#">Standard Model</a></span></li>
                        <li><span><a href="#">Quark</a></span></li>
                        <li><span><a href="#">Particle accelerator</a></span></li>
                        <li><span><a href="#">Proton</a></span></li>
                        <li><span><a href="#">Photon</a></span></li>
                        <li><span><a href="#">Superconductors</a></span></li>
                        <li><span><a href="#">Astro</a></span></li>
                        <li><span><a href="#">Dark Energy</a></span></li>
                        <li><span><a href="#">Cosmic Frontier</a></span></li>
                        <li><span><a href="#">Neutrino</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="qs-box col-md-3">
                <div class="qs-header">Latest Experiments</div>
                <div class="qs-content">
                    <ul>
                        <li><span><a href="#">ATLAS</a></span></li>
                        <li><span><a href="#">CMS</a></span></li>
                        <li><span><a href="#">BOOMERANG</a></span></li>
                        <li><span><a href="#">FNAL-E-0929</a></span></li>
                        <li><span><a href="#">ALICE</a></span></li>
                        <li><span><a href="#">DAFNE experiments</a></span></li>
                        <li><span><a href="#">SLAC-MPS</a></span></li>
                    </ul>
                </div>
            </div>
            <div class="qs-box col-md-3">
                <div class="qs-header">Latest Policies</div>           
                <div class="qs-content"></div>
            </div>
            <div class="qs-box col-md-3">
                <div class="qs-header">Institutes</div>
                <div class="qs-content"></div>
            </div>
        </div>
    </div>
</section>


<section class="mission">
    <div class="container">
        <h4><b>High Energy Physics</b> experiments initiate with this Study Group a common reflection on data persistency and long term analysis in order to get a common vision on these issues and create a multi-experiment dynamics for further reference.
        </h4>
        <h5>The objectives of the Study Group are:<h5>
        <ul>
            <li>Review and document the physics objectives of the data persistency in HEP.</li>
            <li>Exchange information concerning the analysis model: abstraction, software, documentation etc. and identify coherence points.</li>
            <li>Address the harware and software persistency status.</li>
            <li>Review possible fundings programs and other related international initiatives.</li>
            <li>Converge to a common set of specifications in a document that will constitute the basis for future collaborations.</li>
        </ul>
    </div>
</section>
{% endblock body %}
{% endblock page_body %}
<!-- HERE ends the BODY -->

{% block javascript %}
	{{ super() }}
{% endblock javascript%}