{% extends "page.html" %}

{% js url_for('static', filename='js/list.min.js') %}
{%- css url_for('static', filename='css/icomoon.css')  -%}

{% block page_body %}

{% block body %}
<style>

body {
    background-color: #e8e8e8;
}
 header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
 }

.content {
    padding-top: 0;
}

#ppl-tbl ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: none;
}

#ppl-tbl > ul li{ 
	float: left;	
    padding: 0;
	margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    /*max-width: 350px;*/
}

#ppl-tbl .pplbox {
	border-radius: 3px;
	--border: 1px solid #ccc;
	height: 100px;
	padding: 10px;
	background-color: #f5f5f5;
    -moz-box-shadow:    0 0 2px 0 #ccc;
    -webkit-box-shadow: 0 0 2px 0 #ccc;
    box-shadow:         0 0 2px 0 #ccc;
}

#ppl-tbl ul p {
	padding: 0;
	margin: 0;font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
}

#ppl-tbl .list img {
	width: 80px;
	height: 80px;
    float: left;
}

#ppl-tbl .pplbox > div:last-child {
    float: left;
}


#ppl-tbl label {
	vertical-align: bottom;
	padding-right: 5px;
	color: #666;
	font-weight: normal;
    margin-bottom: -2px;
}

#ppl-tbl input {
	padding: 1px 10px;
	font-size: 12px;
	-border-radius: 3px;
	-background-color: #ccc;
	color: #ccc;
	margin-right: 5px;
	margin-bottom: 0;
	border: 0;
	border-bottom: 1px solid #ccc;
}


#ppl-tbl button.sort {
	margin-left: 5px;
}

#ppl-tbl button.sort:first-child{
    margin-left: 0;
}

.pad2mar{
	padding: 0;
	margin: 0 15px;
}

.contenttitle {
    padding-top: 100px;
    /*overflow: auto;*/
    /*padding-bottom: 15px;*/
    /*border-bottom: 1px solid #eee;*/
    color: inherit;
    font-size: inherit;
    margin: 0;
}

#ppl-tbl .contenttitle > div:last-child {
    /*float: left;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 5px;*/
    /*width: 100%;*/
}

#ppl-tbl button.btn.sort > span {
    display: none;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .list {
        margin-bottom: 10px;
    }

    .list .title {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .list .title > a {
        float: left;
    }

    .list .title > div {
        float: right;
    }

    .list .title button {
        background-color: #f5f5f5;
        font-size: 12px;    
    }

    #chooser > div  a{
        float: left;
        padding: 0 6px;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        border-right: 1px solid #e6e6e6;
        background-color: #f5f5f5;
    }

    #chooser.sticky {
        position: fixed;
        top: 0;
        border-bottom: 4px solid #e6e6e6;
        display: inline-block;
        z-index: 1000;
        background-color: #fff;
        width: 100%;
    }

    .contenttitle {
         margin
    }
    .contenttitle.sticky {
        position: fixed;
        top: 45;
        /*border-bottom: 4px solid #e6e6e6;*/
        display: inline-block;
        z-index: 1000;
        background-color: #fff;
        width: 100%;
        padding-top: 0;
        /*height: 96px;*/

        -moz-box-shadow:    0 3px 6px -1px #ccc;
        -webkit-box-shadow: 0 3px 6px -1px #ccc;
        box-shadow:         0 3px 6px -1px #ccc;
    }

    #chooser h3 {
        float: left;
        margin: 0;
        font-size: 16px;
        font-weight: 100;
    }    

    #chooser span.loader {
        width: 50%;
        height: auto;
    }

    #chooser > div {
        display: inline-block;
        padding-left: 15px;
    }
    
    #chooser .btn-group {
        float: right;
        height: 40px;
    }

    #chooser .btn-group .btn {
        background-color: #f5f5f5;
        padding: 6px 12px;
        margin-top: 7px;
    }

    #chooser .inst span {
        font-size: 13px;
    }
    #ppl-tbl > ul li{ 
        float: left;
        padding: 10px;
        margin-bottom: 10px;
    }

    #ppl-tbl ul {
        float: left;
    }

    .list > li {
        /*width: 50%;*/
        padding-bottom: 15px;
    }

    #ppl-tbl .contenttitle > div:last-child {
        /*float: right;*/
        margin-top: 0;
        margin-bottom: 0;
        /*width: auto;*/
    }

    #ppl-tbl button.btn.sort > span {
        display: block;
        float: left;
        padding-right: 5px;
    }    

    .contacts.sticky{
        padding-top: 130px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbarOutter {
        /*background-color: green;*/
    }

    .list > li {
        /*width: 33.33333%;*/
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbarOutter {
        /*background-color: blue;*/
    }
}


#chooser {
    position: relative;
    /*float: left;*/
    background-color: #fff;
}

.loader, .inst {
/*        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;*/
}

.loader {
z-index: -10;
background-color: #ccc;
width: 0;
max-width: 100%;
height: 40px;
}

.contacts {
    margin-top: 0;
}
</style>
    <section class="content">
            <div id="ppl-tbl" class="containe">
            
            <div class="contenttitle">
                <div id="chooser" class="container no-padding">
                    <span>LOOKING FOR PEOPLE AT:</span>
                    <div><div class="inst">
                            <a href="#cern"><span>CERN</span></a>
                            <a href="#slac"><span>SLAC</span></a>
                            <a href="#lal"><span>LAL</span></a>
                            <a href="#uov"><span>University of Victoria</span></a>
                        </div>
                        <div class="loader"></div> </div>
                    <div class="btn-group">
                        <button type="button" style="" onclick="removeThumbs();" class="btn icon-file"></button>
                        <button type="button" style="" onclick="showThumbs();" class="btn icon-profile"></button>
                    </div>
                </div>
            </div>
            <div class="contacts container nno-padding">
                <ul id="cern" class="list">
                    <li class="title">
                        <span>CERN</span>
                        <div>
                        <span class="hidden-sm" style="font-size: 12px;">Sort by: </span>
                        <button id="sortNames" class="sort btn" data-sort="contact">Name</button>
                        <button id="sortPos" class="sort btn" data-sort="exppos">Position</button>
                        <button id="sortInst" class="sort btn" data-sort="institute">Institute</button>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                            <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                            <div class="col-md-9 col-xs-9">
                                <p class="exppos">ALICE</p>
                                <p class="contact">Paolo Giubelpno</p>
                                <p class="mail">paolo.giubelpno@cern.ch</p>
                                <p class="institute">CERN, Geneva, Switzerland</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                            <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                            <div class="col-md-9 col-xs-9">
                            <p class="exppos">ALICE</p>
                            <p class="contact">Yves Schutz</p>
                            <p class="mail">yves.roland.schutz@cern.ch</p>
                            <p class="institute">CERN, Geneva, Switzerland</p></div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                            <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                            <div class="col-md-9 col-xs-9">
                            <p class="exppos">CERN, ROOT</p>
                            <p class="contact">Rene Brun</p>
                            <p class="mail">rene.brun@cern.ch</p>
                            <p class="institute">CERN, Geneva, Switzerland</p></div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN / Gjovik</p>
                        <p class="contact">Peter Igo-Kemenes</p>
                        <p class="mail">peter.igo-kemenes@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN, Parse.Insight</p>
                        <p class="contact">Sunje Dallmeier-Tiessen</p>
                        <p class="mail">sunje.dallmeier-tiessen@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN, Parse.Insight</p>
                        <p class="contact">Salvatore Mele</p>
                        <p class="mail">salvatore.mele@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN, IT Group</p>
                        <p class="contact">Jamie Shiers</p>
                        <p class="mail">Jamie.Shiers@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN, IT Group</p>
                        <p class="contact">Olof Barring</p>
                        <p class="mail">olof.barring@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN, IT Group</p>
                        <p class="contact">Matthias Schroeder</p>
                        <p class="mail">matthias.schroder@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN, IT Group</p>
                        <p class="contact">Tim Smith</p>
                        <p class="mail">Tim.Smith@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN, IT Group</p>
                        <p class="contact">Juergen Knobloch</p>
                        <p class="mail">juergen.knobloch@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">CERN, IT Group</p>
                        <p class="contact">Frederic Hemmer</p>
                        <p class="mail">frederic.hemmer@cern.ch</p>
                        <p class="institute">CERN, Geneva, Switzerland</p></div></div>
                    </li>
                </ul>
                
                
                <ul id="slac" class="list col-md-12">
                    <li class="title">
                        <span>SLAC</span>
                        <div>
                        <span class="hidden-sm" style="font-size: 12px;">Sort by: </span>
                        <button id="sortNames" class="sort btn" data-sort="contact">Name</button>
                        <button id="sortPos" class="sort btn" data-sort="exppos">Position</button>
                        <button id="sortInst" class="sort btn" data-sort="institute">Institute</button>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">BaBar, Outreach</p>
                        <p class="contact">Matt Bellis</p>
                        <p class="mail">bellis@slac.stanford.edu</p>
                        <p class="institute">Stanford Linear Accelerator Laboratory, SLAC</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">BaBar, Computing Coordinator Emeritus   </p>
                        <p class="contact">Homer Neal</p>
                        <p class="mail">homer@slac.stanford.edu</p>
                        <p class="institute">Stanford Linear Accelerator Laboratory, SLAC</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">BaBar, Computing Coordinator Emeritus / LSST DM System Architect</p>
                        <p class="contact">Gregory Dubois-Felsmann</p>
                        <p class="mail">gpdf@slac.stanford.edu</p>
                        <p class="institute">Stanford Linear Accelerator Laboratory, SLAC</p></div></div>
                    </li>
                    
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">BaBar, Computing Coordinator</p>
                        <p class="contact">Tina Cartaro</p>
                        <p class="mail">cartaro@slac.stanford.edu</p>
                        <p class="institute">Stanford Linear Accelerator Laboratory, SLAC</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">SLAC / SPIRES</p>
                        <p class="contact">Travis Brooks</p>
                        <p class="mail">travis@slac.stanford.edu</p>
                        <p class="institute">Stanford Linear Accelerator Laboratory, SLAC</p></div></div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">SLAC, Computing Centre</p>
                        <p class="contact">Richard Mount</p>
                        <p class="mail">richard.mount@slac.stanford.edu</p>
                        <p class="institute">Stanford Linear Accelerator Laboratory, SLAC</p>
                        </div></div>
                    </li>
                </ul>
                <ul id="lal" class="list col-md-12">
                    <li class="title">
                        <span>LAL (Laboratoire de l'Accelerateur Lineaire)</span>
                        <div>
                        <span class="hidden-sm" style="font-size: 12px;">Sort by: </span>
                        <button id="sortNames" class="sort btn" data-sort="contact">Name</button>
                        <button id="sortPos" class="sort btn" data-sort="exppos">Position</button>
                        <button id="sortInst" class="sort btn" data-sort="institute">Institute</button>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">BaBar, Spokesperson Emeritus</p>
                        <p class="contact">Francois Le Diberder</p>
                        <p class="mail">diberder@lal.in2p3.fr</p>
                        <p class="institute">Laboratoire de l'Accelerateur Lineaire, LAL, Orsay, IN2P3/CNRS</p></div></div>
                    </li>
                </ul>
                
                <ul id="uov" class="list col-md-12">
                    <li class="title">
                        <span>University of Victoria, Canada</span>
                        <div>
                        <span class="hidden-sm" style="font-size: 12px;">Sort by: </span>
                        <button id="sortNames" class="sort btn" data-sort="contact">Name</button>
                        <button id="sortPos" class="sort btn" data-sort="exppos">Position</button>
                        <button id="sortInst" class="sort btn" data-sort="institute">Institute</button>
                        </div>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <div class="pplbox">
                        <div class="col-md-3 col-xs-3 no-padding"><img src="{{url_for('static' , filename='img/avatar.png')}}" alt="" height="80px" width="80px" class="img-circle col-md-12 col-xs-3 no-padding"></div>
                        <div class="col-md-9 col-xs-9">
                        <p class="exppos">BaBar, Spokesperson</p>
                        <p class="contact">Michael Roney</p>
                        <p class="mail">mroney@uvic.ca</p>
                        <p class="institute">University of Victoria, Canada</p></div></div>
                    </li>
                </ul>
            </div> 
        </div>        
    </section>

{% endblock body %}
{% endblock page_body %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
        var options = {
            valueNames: ['exppos', 'contact', 'mail', 'institute'],
        };

        var pplList = new List('ppl-tbl', options);

        // pplList.on(searchComplete, function(){
        //     if ( pplList.listContainer.length == 0 ){
        //         pplList.appendChild("nothing found");

        //     }
        // })

        $("#sortInst").click(function(){          
        });


        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top - $(".contenttitle").height()
                }, 500);
                return false;
              }
            }
          });
        });



        

        // Sticky Container Functionality

        var win = $(window),
            stickyEl = $(".contenttitle"), // $("#chooser"),
            stickyTop = stickyEl.offset().top,
            headerEl = $("header"),
            headerTop = headerEl.offset().top,
            contactsEl = $(".contacts"),
            contactsTop = contactsEl.offset().top;

        win.scroll(function() {
            var s = $(window).scrollTop(),
            d = $("#ppl-tbl").height()- $(".contacts").offset().top,
            c = $(window).height();
            scrollPercent = (s / (d-c)) * 100;
            // $(".twocolordiv").css('right', scrollPercent+"%");
            $(".loader").css('width', scrollPercent+'%');

            console.log("Current scroll percent: " + scrollPercent+"% ======  "+ s +" "+d+" " +c);
            headerEl.toggleClass("sticky", win.scrollTop() > stickyTop, function(){
                $("header .sp1").hide();
                $("header .sp2").hide();
            });
            stickyEl.toggleClass("sticky", win.scrollTop() > stickyTop+50);
            contactsEl.toggleClass("sticky", win.scrollTop() > stickyTop+50);
        });
    //         win.scroll(function() {
    //     var s = $(window).scrollTop(),
    //     d = $("#ppl-tbl").height()- $(".contacts").offset().top,
    //     c = $(window).height();
    //     scrollPercent = (s / (d-c)) * 100;
    //     // $(".twocolordiv").css('right', scrollPercent+"%");
    //     $(".loader").css('width', scrollPercent+'%');

    //     console.log("Current scroll percent: " + scrollPercent+"% ======  "+ s +" "+d+" " +c);
    //     stickyEl.toggleClass("sticky", win.scrollTop() > stickyTop, function(){
    //         $("header .sp1").hide();
    //         $("header .sp2").hide();
    //         $(".contacts").css("margin-top", $(".contenttitle").height());
    //     });
        
    // });
    });


    var removeThumbs = function() {
        $(".pplbox>.col-md-3").hide();
        $(".list>li").removeClass("col-md-4").addClass("col-md-3");
        $(".pplbox>.col-md-9").css("padding", "0");
    };

    var showThumbs = function(){
        $(".pplbox>.col-md-3").show();
        $(".list>li").addClass("col-md-4").removeClass("col-md-3");  
        $(".pplbox>.col-md-9").css("padding", "0 15px");

    };

    var sortbyInstitute = function() {

    }


    
</script> 
{% endblock javascript %}